<section>
    <a href='/dashboard' class='justify-content-end'>&larr; Back </a>
    <h2 class='title'>Create a new post</h2>
    <hr>

    <form class='new-post-form'>

        <div>
            <label for="post-title">Title:</label>
            <input class='input' type='text' id='post-title' name='post-title' placeholder='insert post title here' />
        </div>

        <div>
            <label for='post-content'>Content:</label>
            <textarea class='form-control rounded-3 z-depth-1' name='post-content' id='post-content' rows='10' placeholder='insert post content here'></textarea>
         </div>
         <button type='submit' class='btn btn-primary justify-content-end'>Create a post</button>
    </form>
</section>

<script src='/js/create-post.js'></script>