<div class='mb-5 pt-3'>
    <a href='/dashboard/create/'>
        <button class='btn btn-primary justify-content-end' id='create-post'>Create a post</button>
    </a>
    <h2 class='title pb-4'>Dashboard: your post</h2>

    {{#if posts.length}}

</div>

{{#each posts as | post|}}
{{>post-info post}}
<a href='/dashboard/edit/{{post.id}}'><button class='btn btn-warning mb-5 ml-5'>Edit post</button></a>
{{/each}}

{{else}}
<h6 class ='text center font-italic pb-4'> No posts to display</h6>

{{/if}}